<div class="row">
    <div class="px-4 pb-4">
        <ejs-grid id="sales-list"
                  dataSource="@ViewBag.Sales"
                  gridLines="Vertical"
                  allowSorting="true">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Идентификатор" field="Id" typeof="text"></e-grid-column>
                <e-grid-column headerText="Дата" field="Date" typeof="text"></e-grid-column>
                <e-grid-column headerText="Пользовательский ИД" field="CustomerId" typeof="text"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>
