<div class="row">
    <div class="px-4 pb-4">
        <ejs-grid id="inventoryItems-list"
                  dataSource="@ViewBag.InventoryItems"
                  gridLines="Vertical"
                  allowSorting="true">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Идентификатор" field="Id" typeof="text"></e-grid-column>
                <e-grid-column headerText="Количество на складе" field="QuantityInStock" typeof="text"></e-grid-column>
                <e-grid-column headerText="Идантификационный номер продукта" field="ProductId" typeof="text"></e-grid-column>
                <e-grid-column headerText="Идентификатор инвентаря" field="InventoryId" typeof="text"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>