<form>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Название">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Описание">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Приходная цена">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Продажная цена">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Срок годности">
        </div>
    </div>
    
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary"/>
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-secondary">Обратно</a>
</div>