@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MVC First App</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<body>
    <h1>
        Welcome to ASP.NET Core.
    </h1>
    <p>
        ASP.NET Core is a cross-platform, open-source framework for building modern web applications and services. 
        It is a successor to the ASP.NET framework and offers improved performance, scalability, and flexibility. 
        ASP.NET Core supports multiple programming languages and follows a modular architecture, 
        allowing developers to choose and use only the components they need. 
        It also provides built-in support for features like dependency injection, MVC pattern, and Web API development.
    </p>

    <img src="D:\github darslar\Module-06\Lesson01\Lesson01\Images\ASP.jpg"
         width="400" height="300" />
     </body>